{% extends 'layouts/navbar.html' %}
{% block content %}
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Generacion de Facturas</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Project Add</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        {% if messages %}
        <div class="alert alert-danger">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


        <!-- Main content -->
        <div class="row">
            <div class="col-md-3"></div> <!-- Espacio en blanco a la izquierda -->
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <form method="post" action="{% url 'turbo_register_gatos' %}">
                        {% csrf_token %}
                        <div class="card-body">

                            <div class="form-group">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputStatus">rutas</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>

                                        <input type="text" class="form-control float-right" name="date_range"
                                            id="reservation">
                                        </div>

                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputStatus">Valor</label>
                                        <input type="number" class="form-control float-right" name="valor"
                                            id="reservation">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputStatus">Cantidad</label>
                                        <input type="number" class="form-control float-right" name="Cantidad"
                                            id="reservation">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputStatus">Descripcion</label>
                                        <input type="text" class="form-control float-right" name="Descripcion"
                                            id="reservation">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputStatus">Conductor</label>
                                        <select class="form-control" id="conductores_id" name="conductores_ids" required>
                                            <option selected disabled>Seleccione un conductor</option>
                                            {% for turbo in turbos %}
                                            <option value="{{ turbo.id }}">{{ turbo.conductor }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputStatus">Flete</label>
                                        <select class="form-control" id="flete_ids" name="flete_ids" required>
                                            <option selected disabled>Seleccione un flete</option>
                                            {% for fletes in flete %}
                                            <option value="{{ fletes.id }}">{{ fletes.dia_inicio }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-auto text-center">
                                    <button type="submit" class="btn btn-outline-success">Success</button>
                                </div>
                            </div>

                        </div>
                    </form>


                </div>

            </div>
            <div class="col-md-3"></div> <!-- Espacio en blanco a la derecha -->
        </div>







    </div>
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {

        $('#reservation').daterangepicker()
        $('#reservationd').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

    });
</script>

{% endblock %}
